@media (max-width: 376px){
    main{
        background-image: url(image/Rectangle\ 1.png);
        background-repeat: no-repeat;
        background-size: auto 735px;
        background-position-x: 31%;
        background-color: #000915;
    }
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .content{
        height: 736px;
    }
    .main-content {
    padding-top: 239px;
    width: 343px;
    text-align: center;
    
&__title{
    font-size: 32px;
}    
&__text{
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    padding-bottom: 32px;
}
}
.game-card img{
width: 343px;
height: 300px;
}
.game-1{
    height: 654px;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    &__description{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &__name{
        font-weight: 700;
        font-size: 32px;
    }
    &__text{
        display: none;
    }
    &__textMobile{
        display: flex;
        font-weight: 400;
        font-size: 14px;
        width: 343px;
        line-height: 22px;
        padding-top: 32px;
        padding-bottom: 32px;
        color:white; 
    }
    &__image{
        width: 344px;
        height: 236px;
    }
}
.game-2{
    height: 654px;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    &__description{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &__name{
        font-weight: 700;
        font-size: 32px;
    }
    &__text{
        display: flex;
        font-weight: 400;
        font-size: 14px;
        width: 343px;
        line-height: 22px;
        padding-top: 32px;
        padding-bottom: 32px;
        color:white;
    }
    &__image{
        width: 344px;
        height: 236px;
    }
}
.game-3{
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    &__description{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-top: 51px;
    }
    &__name{
        font-weight: 700;
        font-size: 32px;
    }
    &__text{
        display: flex;
        font-weight: 400;
        font-size: 14px;
        width: 343px;
        line-height: 22px;
        padding-bottom: 32px;
        color:white;
    }
}
}

