*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
main{
    background-image: url(image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 1024px;
    background-color: #000915;
}
.container{
    padding-left: 120px;
    padding-right: 120px;
}
.content{
    height: 1024px;
}
.main-content{
    padding-top: 216px;
    &__title{
        color: white;
        font-weight: 700;
        font-size: 64px;
    }
    &__text{
        color: white;
        font-weight: 400;
        font-size: 18px;
        width: 480px;
        line-height: 32px;
        padding-top: 32px;
        padding-bottom: 44px;
    }
    &__button {
        background:#9C0332; 
        border: 1px solid #9C0332;
        box-sizing: border-box;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: white;
        &:hover{
        background:#EB443F; 
        border: 1px solid #EB443F;
        cursor: url(image/cursor.svg), auto ;
        }
    }
}
.game-card{
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
&__game{
    height: 300px;
    display: flex;
}
&__link{
    position: relative;
    &:hover{
        cursor: url(image/cursor.svg), auto ;
        outline: 3px solid #44D2FF; 
        border-radius: 16px;
    }
}
&__text{
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: white;
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
}
}
@import '_mobi';